@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #262e36;
  line-height: 1;
  color: #272e35;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: #272e35;
  padding: 21px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  line-height: normal;
}
.button--primary {
  color: white;
  background-color: #579aff;
}
.button--outlined {
  border: 1px solid;
  color: #a5b2c3;
}

.block-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block-box__caption {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.block-box__caption::before {
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}
.block-box__caption::after {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
.block-box__caption::before, .block-box__caption::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  background-color: #579aff;
  top: 50%;
}
.block-box__caption__left {
  padding-left: 40px;
  margin-bottom: 30px;
}
.block-box__caption__left::after {
  display: none;
}
.block-box__caption__left::before {
  transform: none;
}
.block-box__heading {
  font-size: 50px;
}
.block-box__heading span {
  display: block;
}

.text {
  font-weight: 300;
  color: #868d93;
  line-height: 1.4;
}

.header {
  padding-top: 43px;
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  margin-right: 180px;
}
.header__auth {
  margin: auto;
}
.header__menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.header__menu__item:not(:first-child) {
  margin-left: 75px;
}
.header__menu__link {
  color: #272e35;
  transition: color 0.2s ease-in-out;
}
.header__menu__link:hover {
  color: #579aff;
}

.banner {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.banner__info {
  width: 35%;
}
.banner__info__heading {
  font-size: 55px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.banner__info__heading span {
  display: block;
}
.banner__info__desc {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}
.banner__info__link .button:first-child {
  margin-right: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
.banner__image {
  width: 65%;
  transform: translateX(50px);
}

.work {
  padding-top: 145px;
  padding-bottom: 50px;
}
.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 70px;
}
.work__list__item {
  padding: 40px 30px;
  border: 1px solid #f4f4f4;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
  transition: all 0.2s linear;
}
.work__list__item:hover {
  border-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.09);
}
.work__list__item-more {
  transition: all 0.2s linear;
}
.work__list__item:hover .work__list__item-more {
  border-color: #579aff;
  background-color: #579aff;
  color: white;
}
.work__list__item__image {
  margin-bottom: 35px;
  max-height: 115px;
  line-height: 1.6;
}
.work__list__item__title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
.work__list__item__desc {
  margin-bottom: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  word-break: break-word;
}

.intro {
  display: flex;
  align-items: center;
  padding: 110px 0 160px;
}
.intro__content {
  width: 50%;
  padding-right: 130px;
}
.intro__content__desc {
  margin-bottom: 30px;
  margin-top: 40px;
}

/*# sourceMappingURL=styles.css.map */
